<div class="container">
    <header class="marquee-container darken-bg">
        <div class="marquee">
            <%= image_tag("skull-spinner.gif"  ,class: "header-gif")%>
            <%= image_tag("title.gif") %>
            <%= image_tag("skull-spinner.gif"  ,class: "header-gif")%>
        </div>
    </header>


    <section class="main clearfix darken-bg"> 
        <%= image_tag("zucc.gif", class: "profile-pic") %>
        <div id="bio-container">
            <h3 id="bio-title">Nick Moignard</h3> 
            <p id="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lectus lectus, blandit vel metus id, dictum pellentesque dolor. Praesent sed mauris rutrum, blandit elit ac, consectetur velit. Integer vel scelerisque ante. Suspendisse luctus, est vitae condimentum luctus, nibh nisl pretium justo, ut egestas metus purus nec odio. Curabitur ultricies nec diam id tincidunt. Quisque rhoncus dui eu sem suscipit ultricies. Duis a magna sed libero imperdiet tristique. Maecenas vitae consectetur purus. Aliquam erat volutpat. Mauris mollis lorem eros, sit amet vehicula nisl venenatis ac. Etiam sagittis elit ultrices, fermentum neque eget, bibendum nisi. Cras at ipsum mauris. Sed sit amet sem in purus faucibus sagittis. Morbi sodales sem mollis diam euismod mattis. Vivamus iaculis facilisis orci, non tincidunt ante tincidunt a. Duis tincidunt imperdiet mi ac tincidunt. Aliquam suscipit scelerisque tortor, ut euismod est tempor gravida.</p>
        </div>
    </section>
    <footer>
        <div class="container">
            <%= image_tag("swimming-dog", class: "footer-gif") %>
        </div>
    </footer>

</div>


